.groups-page {
    display: flex;
}

.groups-page h2 {
    margin-bottom: 0em;
}

.groups-page .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 36px;
}

.groups-page .header .ui.button {
    margin: 0em;
}

.groups-page .sidebar {
    text-align: end;
    min-width: 250px;
}

.groups-page .sidebar .filters {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.groups-page .filters-form > .field {
    display: flex;
    justify-content: flex-start;
}

.groups-page .groups-page-body {
    flex-grow: 1;
}

.group-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em 0em;
}

.group-card .left {
    display: flex;
    text-align: start;
    flex-grow: 1;
}

.group-card .game-image {
    display: flex;
    justify-content: center;
    width: 100px;
    flex-shrink: 0;
}

.group-card .game-image .image {
    max-width: 100px;
    max-height: 100px;
}

.group-card .group-text {
    margin-left: 0.5em;
}

.group-header {
    display: flex;
    align-items: flex-end;
}

.group-header .labels {
    margin-left: 0.5em;
    flex-shrink: 0;
}

.group-content {
    display: flex;
    margin-top: 0.25em;
}

.group-card .right {
    margin-left: 1em;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) {
    .groups-page {
        flex-direction: column;
    }

    .groups-page .sidebar .filters {
        padding-right: 0rem;
        margin-right: 0rem;
        border-right: unset;
    }

    .groups-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .groups-header .labels {
        margin-left: 0em;
    }
}
