.games-page {
    display: flex;
}

.games-page h2 {
    margin-bottom: 0em;
}

.games-page .header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    margin-bottom: 1rem;
    height: 36px;
}

.games-page .header .ui.button {
    margin: 0em;
}

.games-page .sidebar {
    text-align: end;
    min-width: 15vw;
    max-width: 15vw;
}

.games-page .sidebar .filters {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.game-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.25em;
}

.game-header .labels {
    margin-left: 0.5em;
}
