.leaderboard-list > .ui.list > .item {
    display: flex;
    align-items: center;
}

.leaderboard-list > .ui.list > .item > :not(:first-child) {
    margin-left: 0.5em;
}

.leaderboard-list > .ui.list > .item > .player-image {
    width: 30px;
}

.leaderboard-list > .ui.list > .item > .player-name {
    flex-grow: 1;
}