.scorecard-page-body {
    display: flex;
}

.scorecard-page-body .left {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.scorecard-page-body .middle {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    flex-grow: 1;
}

.scorecard-page-body .middle > :not(:first-child) {
    margin-top: 1rem;
}

.scorecard-page-body .right {
    flex-grow: 1;
}

.scorecard-page-body .right .table {
    text-align: center;
}

.scorecard-page .form.common-form .field.game-picker {
    flex-grow: 1;
}

.scorecard-page .form.common-form .setting-container {
    display: flex;
    align-items: center;
}

.scorecard-page .form.common-form .field.group-picker {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    flex-grow: 1;
}

.scorecard-page .ui.form .error.message,
.ui.form .success.message,
.ui.form .warning.message.no-attached-group-warning {
    display: block;
}

.scorecard-page .form.common-form .field.notes-input > textarea {
    min-height: 5em;
    max-height: 10em;
}
