.add-player-page-body .ui.fluid.labeled.input > .ui.label.label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max(150px, 10vw);
}

.add-player-form {
    width: 100%;
}

.add-player-form > .ui.button:not(:first-child) {
    margin-top: 0.5em;
}

.add-player-form-inputs {
    display: flex;
}

.add-player-form-inputs > :not(:first-child) {
    margin-left: 0.5em;
}

.add-player-form-inputs .add-player-form-fields {
    flex-grow: 1;
}

.add-player-form-inputs .add-player-form-fields > :not(:first-child) {
    margin-top: 0.5em;
}
