.add-game-form .game-name-info > p {
    text-align: start;
}

.add-game-form > .ui.form {
    width: 100%;
}

.add-game-form .link-form {
    margin-top: 0.5rem;
}

.add-game-form .link-form > :not(:first-child) {
    margin-top: 0.5rem;
}

.add-game-form .ui.fluid.labeled.input > .ui.label.label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max(150px, 10vw);
}

.add-game-form
    .link-form
    .ui.fluid.labeled.input
    + .ui.fluid.labeled.input {
    margin-top: 0.5em;
}

.add-game-form .ui.form textarea {
    min-height: 10vh;
    max-height: 15vh;
}
