.results-page {
    display: flex;
}

.results-page h2 {
    margin-bottom: 0em;
}

.results-page > .sidebar > .header,
.results-page > .results-page-body > .header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    margin-bottom: 1rem;
    height: 36px;
}

.results-page .sidebar {
    text-align: start;
    width: 250px;
    flex-shrink: 0;
}

.results-page .sidebar .filters {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

@media screen and (max-width: 767px) {
    .results-page {
        flex-direction: column;
    }

    .results-page .sidebar {
        width: 100%;
    }

    .results-page .sidebar .filters {
        flex-direction: row;

        padding-right: 0rem;
        margin-right: 0rem;
        border-right: none;

        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    }

    .results-page .sidebar .filters > * {
        flex-grow: 1;
    }

    .results-page .sidebar .filters > :not(:first-child) {
        padding-left: 0.5rem;
        margin-left: 0.5rem;
        border-left: 1px solid rgba(34, 36, 38, 0.15);
    }
}

.results-page .group-filter-dropdown {
    margin-top: 1em;
}

.results-page .filters-form {
    margin-top: 1em;
}

.results-page .filters-form > .field {
    display: flex;
    justify-content: flex-start;
}

.results-page .datetime-container {
    margin-top: 0.5em;
}

.results-page .datetime-container .ui.form.datetime-form {
    margin-bottom: 0.5em;
}

.results-page .datetime-container .ui.form .fields {
    margin-bottom: 0em;
}

.results-page .datetime-container p {
    text-align: start;
    margin-bottom: 0.25em;
}

.results-page .datetime-container .ui.form input[type="date"],
.results-page .datetime-container .ui.form input[type="time"] {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.results-page-body {
    flex-grow: 1;
}

.results-page-body .no-results-message {
    text-align: start;
}
