.results-page {
    display: flex;
}

.results-page h2 {
    margin-bottom: 0em;
}

.results-page > .sidebar > .header,
.results-page > .results-page-body > .header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    margin-bottom: 1rem;
    height: 36px;
}

.results-page .sidebar {
    text-align: end;
    min-width: 250px;
}

.results-page .sidebar .filters {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.results-page .group-filter-dropdown {
    margin-top: 1em;
}

.results-page-body {
    flex-grow: 1;
}
