.add-player-modal .ui.fluid.labeled.input > .ui.label.label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
}

.add-player-form-inputs {
    display: flex;
}

.add-player-form-inputs > :not(:first-child) {
    margin-left: 0.5em;
}

.add-player-form-inputs .add-player-form-fields {
    flex-grow: 1;
}

.add-player-form-inputs .add-player-form-fields > :not(:first-child) {
    margin-top: 0.5em;
}
