.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.players-page {
  display: flex;
}

.players-page .sidebar {
  text-align: end;
  margin-right: 1rem;
}

.player-details {
  width: max(500px, 50vw);
  height: max(500px, 50vh);
  color: black;
}

.add-player {
  width: max(500px, 50vw);
  height: max(500px, 50vh);
  color: black;
}

.results-page {
  display: flex;
}

.results-page .sidebar  {
  text-align: end;
  margin-right: 1rem;
}

.results-list {
  width: max(500px, 50vw);
  height: max(500px, 50vh);
  color: black;
}
