.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app-container > .content {
  padding: 1rem;
}

.home-page h1 {
  margin-bottom: 0rem;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
}

.home-page-content h3 {
  margin-bottom: 0rem;
}

.home-page-content .ui.statistic+.ui.statistic {
  margin: 0 1.5em 1em;
}

.ui.modal > .ui.icon.header {
  border-radius: calc(2rem / 7);
}

.players-page-body {
  display: flex;
}

.players-page .sidebar {
  text-align: end;
  margin-right: 1rem;
}

.player-details {
  width: 100%;
}

.player-details .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.player-details .display-name-header {
  text-align: start;
  margin-bottom: 0.5rem;
}

.player-details .username {
  text-align: start;
  color: grey;
  margin-bottom: 0.5rem;
}

.add-player-page .sidebar  {
  text-align: end;
  margin-right: 1rem;
}

/* next two classes from here: https://stackoverflow.com/a/25545957 */
.players-list .ui.menu .item span.username {
  color: grey;
  float: right;
}

.players-list .ui.menu .item span.display-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-player-page-body {
  display: flex;
}

.add-player-page-body > .ui.form {
  width: 100%;
}

.add-player {
  width: 100%;
}

.games-page-body {
  display: flex;
}

.games-page .sidebar {
  text-align: end;
  margin-right: 1rem;
}

.game-details {
  width: 100%;
}

.game-details .content {
  display: flex;
  margin-bottom: 0.5rem;
}

.game-details .content .left {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.game-details .content .left button.ui.button {
  margin-top: 0.5rem;
}

.game-image {
  width: 300px;
  object-fit: contain;
}

.game-image > .ui.image {
  border-radius: calc(2rem / 7);
}

.game-details .display-name-header {
  text-align: start;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.game-details .game-synopsis {
  text-align: start;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.game-details .description {
  text-align: start;
  white-space: pre-line;
  margin-top: 1rem;
}

.game-details .links {
  text-align: start;
  white-space: pre-line;
  margin-top: 1rem;
}

.time-created {
  text-align: start;
}

.game-details .ui.table {
  text-align: center;
}

.add-game-page .sidebar  {
  text-align: end;
  margin-right: 1rem;
}

.add-game-page-body {
  display: flex;
}

.add-game-page-form {
  flex: 1 1 auto;
}

.add-game-page-body > .ui.form {
  width: 100%;
}

.link-form {
  margin-bottom: 1em;
}

.link-form .add-link-button {
  margin-bottom: 1em;
}

.link-input-removable {
  display: flex;
  align-items: center;
}

.link-input-removable > .equal.width.fields {
  width: 100%;
  align-items: center;
}

.link-input-removable > .ui.button {
  margin: 0em 0em 1em 1em;
}

.add-game-page-body .ui.form textarea {
  min-height: 10vh;
  max-height: 15vh;
}

.results-page {
  display: flex;
}

.results-page .sidebar  {
  text-align: end;
  margin-right: 1rem;
}

.results-page-body {
  flex-grow: 1;
}

.results-page-body .header {
  flex: 0 1 auto;
  margin-bottom: 1rem;
}

.results-list {
  flex: 1 1 auto;
}

.add-result-page-body  {
  display: flex;
}

.add-result-page-body .left {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
}

.add-result-page-body .right {
  flex-grow: 1;
}

.add-result-page-body .right .table {
  text-align: center;
}

.add-result-page .fields.common-form > .field.game-picker {
  flex-grow: 1;
}

.add-result-form > .ui.form {
  margin-right: 1rem;
}

.player-score-input-removable {
  display: flex;
  align-items: flex-end;
}

.player-score-input-removable > .equal.width.fields {
  width: 100%;
}

.player-score-input-removable > .ui.button {
  margin: 0em 0em 1em 1em;
}

.player-winner-input-removable {
  display: flex;
  align-items: center;
}

.player-winner-input-removable > .equal.width.fields {
  width: 100%;
  align-items: center;
}

.player-winner-input-removable > .ui.button {
  margin: 0em 0em 1em 1em;
}
